body{
 background-color: rgb(80, 251, 100);
}
.title1{
    background-color:rgb(93, 204, 56);
    width: 500px;
    height:600px ;
    margin-left: 500px;
    margin-top: 100px;
}
.register{
    color: #ffffff;
    font-size: 35px;
    padding-left: 180px;
    padding-top: 50px;
}
.labelemail{
 color: #ffffff;
  font-size: 18px;
}
.labelpassword{
     color: #ffffff;
     font-size: 18px;
     margin-top: 10px;
}
.inputemail{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(136, 136, 169);
}
.inputpassword{
     width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(136, 136, 169);
}
.input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(136, 136, 169);
}
.SubmitLogin{
    background-color: rgb(24, 31, 138);
    width: 200px;
    height: 30px;
    margin-top: 50px;
    margin-left: 50px;
}
.login{
    color: #ffffff;
    font-size: 35px;
    padding-left: 100px;
    padding-top: 50px;
}
.sign1{
    color: #ffffff;
    font-size: 20px;
    padding-left: 160px;
}
.sign{
     color: #ffffff;
    font-size: 20px;
    padding-left: 160px;
}
.regLogin{
    margin-left: 170px;
    padding-top: 30px;
}
.formLogin{
    margin-top: 50px;
   margin-left: 80px;
   display: grid;
}
.formPassword{
    margin-top: 50px;
   margin-left: 80px;
   display: grid;
}


.RegisterPaaword{
    background-color: rgb(8, 1, 70);
    width: 200px;
    height: 30px;
    margin-top: 50px;
    margin-left: 50px;
}
.regPassword{
     margin-left: 170px;
}
.labelname{
color: #ffffff;
font-size: 18px;
     margin-top: 10px;
}
.body2{
    width: 250px;
    height: 1000px;
     background-color:rgb(228, 228, 234);
}
.body1{
    width: 1500px;
    background-color: rgb(172, 167, 209);
    position: absolute;
    height: 100px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 60px;
    margin-top: 150px;
}
.flex1{
    display: flex;
}
.language{
    width: 50px;
    height: 30px;
    background-color: rgb(188, 188, 220);
    margin-left: 1420px;
    margin-top: 30px;
}
.students{
    width: 180px;
    height: 40px;
    background-color: rgb(251, 251, 255);
    position: absolute;
    margin-top: 70px;
  
}
.students:hover{
    background-color: rgb(15, 4, 84);
}
.teachers{
    width: 180px;
    height: 40px;
    background-color: rgb(251,251,255);
    position: absolute;
    margin-top:160px;
 
}
.teachers:hover{
     background-color: rgb(15, 4, 84);
}
.grads{
     width: 180px;
    height: 40px;
    background-color: rgb(251,251,255);
    position: absolute;
    margin-top: 250px;

}
.grads:hover{
  background-color: rgb(15, 4, 84);
}
.grid{
    display: grid;
    gap: 10px;
    margin-left: 30px;
}
.table1{
    background-color: rgb(255, 255, 255);
  
    width: 900px;
}
.grid2{
  display: flex;
  gap: 70px;
}
.edite{
    width: 100px;
    height: 40px;
    background-color: rgb(198, 26, 26);
    
}
.delete{
     width:100px;
    height:40px;
    background-color: rgb(198, 26, 26);
}
.student{
    color: #ffffff;
    margin-top: 150px;
   font-size: 50px;
   margin-left: 400px;
}
.body3{
    width: 200px;
    height: 100px;
    margin-top: 250px;
    margin-left: -1000px;
}
.tbody{
    text-align: center;
}
.tr{
    height: 100px;
}
.add{
    width:100px;
    height:40px;
    background-color: rgb(198, 26, 26);
    margin-top: 150px;
    margin-left: 400px;
}
.flex2{
    display: flex;
   
}
.flex3{
    display:flex;
}
.course-button{
    background-color: rgb(184, 13, 13);
    color: #ffffff;
}
.new{
    text-align: center;
}
.input{
    width: 70%;
    margin-left: 20px;
}
.grid{
    gap: 10px;
}
.save{
    background-color: rgb(156, 10, 10);
    margin-left: 150px;
}
.cancel{
    background-color: rgb(156, 10, 10);
}


.body4{
    background-color: rgb(147, 82, 82);
    border: 1px solid gray;
    width: 500px;
    height: 400px;
    margin-left: 600px;
    margin-top: 200px;
}
.body5{
    background-color:white;
    border: 3px solid gray;
    width: 500px;
    height: 400px;
    margin-left: 600px;
    margin-top: 200px;
    border-radius: 25px;

}
.grid1{
    gap: 20px;
    margin-left: 20px;
   
}
.label{
    margin-left: 20px;
}
.update{
    width: 100px;
    height: 35px;
    background-color: rgb(22, 88, 22);
    color: #ffffff;
    margin-left: 120px;
    margin-top: 50px;
}
.cancel1{
    background-color: rgb(156, 10, 10);
     width: 100px;
    height: 35px;
     color: #ffffff;
}
.body6{
    background-color: #ffffff;
    border-radius: 12px;
    width: 400px;
    height: 200px;
    margin-left: 600px;
    margin-top: 200px;
}
.text{
    text-align: center;
   padding-top: 50px;
}
.delete{
    background-color: red;
     width: 100px;
     height: 30px;
}
.cancel2{
    background-color: gray;
    width: 100px;
    height: 30px;
}
.body7{
    margin-top: 50px;
    margin-left: 100px;
    gap: 20px;
}