body {
  display: flex;
 flex-direction: column;
align-items: center;
  justify-content: center;
   height: 100vh;
  margin: 0;
  background-color: #1a1a1a; 
 color: white;
  transition: background-color 0.4s ease;
  }
 .lamp{
    cursor: pointer;
  font-size: 150px;      
 transition: transform 0.2s;
 }

 .lamp-:active {
    transform: scale(0.95); 
  }
 .off {
    filter: grayscale(1) brightness(0.5);
   opacity: 0.6;
 }    
 .on {
  filter: grayscale(0) brightness(1.2);
   text-shadow: 0 0 80px #ffdb13, 0 0 120px #ffdb13;   
    opacity: 1;
   }

       
 body.light-on {
    background-color: #f4f4f4;
     color: #333;
 }